/* .App {
  text-align: center;
}
.react-grid-Grid {
  box-shadow: none !important;
  border: none !important;
}
.react-grid-HeaderRow {
}

.react-grid-HeaderCell {
  background-color: aqua;
  border-color: black;
} */
